@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import "tailwindcss";

@theme {
    --font-dmSans: "DM Sans", sans-serif;

    --color-blackTheme: #040711;
    --color-whiteTheme: #f9fafb;
    --color-grayTheme: #d2d5da;
    --color-blueTheme: #263fa9;
    --color-lightBlueTheme: #7ca9f3;
    --color-bg1wop: #121826cc;
    --color-bg2wop: #212936cc;
    --color-darkGray1: #4d5562;
    --color-darkGray2: #394150;
}

@layer base {
    * {
        @apply font-dmSans text-whiteTheme;
    }
}
